@{
    ViewBag.Title = "RoomBookFinal";
    Layout = "~/Views/shared/_HotelHomeLayout.cshtml";
}

<h2>Room is Booked to @ViewBag.userName</h2>
    @Html.ActionLink("Manage Booked Room","Index","User")

